<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ApplicationUrl" value="https://www.agdata.com/"/>
    <add key="ObjectNameMapperFile" value="\ObjectNameMapping\ObjectNameMapping.xlsx"/>
    <add key="ObjectNameMapperSheetName" value="ObjectNameMapping"/>
    <add key="LoggingLevel" value="Trace"/>
  </appSettings>
</configuration>