<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DotNetSeleniumExtras.WaitHelpers" version="3.11.0" targetFramework="net461" />
  <package id="EPPlus" version="4.5.3.3" targetFramework="net461" />
  <package id="NUnit" version="2.6.3" targetFramework="net461" />
  <package id="Selenium.Support" version="3.141.0" targetFramework="net461" />
  <package id="Selenium.WebDriver" version="4.1.0" targetFramework="net461" />
  <package id="Selenium.WebDriver.ChromeDriver" version="97.0.4692.7100" targetFramework="net461" />
  <package id="Selenium.WebDriver.IEDriver" version="3.150.1" targetFramework="net461" />
</packages>